.top-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: rgb(37, 135, 177);
    color: white;
}
.scroll-progress{
    width: 100%;
    height: 10px;
    background: #0d0b0b;
}
.current-progress{
    height: 10px;
    background: #33ab20;
    width: 0%;

}