.load-more-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
 .product{
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .product img{
    width: 200px;
    height: 200px;
 }
 button{
    color: white;
    background-color: rgb(194, 28, 31);
    border: none;
    border-radius: 7px;
    
}